<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Editing Form</h1>

    <h3><%= searchPost.username %></h3>
    <h3><%= searchPost.id %></h3>

    <form method="POST" action="/post/<%=searchPost.id%>?_method=PATCH"  >
      <textarea name="age">  <%= searchPost.age  %>   </textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
