<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>This is a All Posts</h1>

    <% for(Posts of post){ %>
        <h3> <%= Posts.username %></h3>
        <h3> <%= Posts.age %></h3>
    <% } %>
</body>
</html>